@import "tailwindcss";
@plugin "@tailwindcss/typography";
@theme {
  --color-brutalist-bg: #111111;
  --color-brutalist-line: #5e5e5e;
  --color-brutalist-bg-line: #323232;
  --color-brutalist-text: #CCCCCC;
  --color-brutalist-accent: #13ecaf;
  --font-sans: "Space Grotesk", monospace;
  --font-mono: "Liberation Mono", "Courier New", monospace;
}

html {
  scroll-behavior: smooth;
}


.blueprint-grid {
  background-image: 
    linear-gradient(to right, var(--color-brutalist-bg-line) 1px, transparent 1px),
    linear-gradient(to bottom, var(--color-brutalist-bg-line) 1px, transparent 1px);
  background-size: 100px 100px;
}

.dashed-line {
  border-top: 1px dashed var(--color-brutalist-bg-line);
}

.solid-line-v {
  border-left: 1px solid var(--color-brutalist-bg-line);
}

.solid-line-h {
  border-top: 1px solid var(--color-brutalist-bg-line);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #111111;
}

::-webkit-scrollbar-thumb {
  background: var(--color-brutalist-bg-line);
}

* {
  border-radius: 0 !important;
}