---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../sections/Hero.svelte';
import LoadingHero from '../components/LoadingHero.astro';
import Background from '../components/Background.svelte';
---

<BaseLayout title="Alejandro Castro">
    <main class="relative z-10 opacity-0 transition-opacity duration-700 ease-out" id="main-content">
        <Hero client:load />
        <Background client:load/>
    </main>
    <LoadingHero />
</BaseLayout>

<script is:inline>
    window.addEventListener('load', () => {
        const loadingScreen = document.getElementById('loading-screen');
        const mainContent = document.getElementById('main-content');

        const minDisplayTime = 200;

        const pageLoadTime = performance.now();

        const hideLoadingScreen = () => {
            if (loadingScreen) {
                loadingScreen.style.opacity = '0';
                loadingScreen.addEventListener('transitionend', () => {
                    loadingScreen.remove(); // Remove from DOM after fading out
                    document.body.classList.remove('loading'); // Allow scrolling
                }, { once: true });
            }
            if (mainContent) {
                mainContent.style.opacity = '1';
            }
        };

        const timeElapsed = performance.now() - pageLoadTime;
        const timeToWait = Math.max(0, minDisplayTime - timeElapsed);

        setTimeout(hideLoadingScreen, timeToWait);
    });

    document.body.classList.add('loading');
</script>
