---
import '../styles/global.css';
import LoadingScreen from '../components/LoadingScreen.svelte';
import Background from '../components/Background.svelte';


export interface Props {
    title: string;
    description?: string;
}

const { title, description = "My personal portfolio" } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <slot />
    <LoadingScreen client:load/>
    <Background client:load/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js" is:inline></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta/dist/vanta.net.min.js" is:inline></script>
</body>
</html>
