---
import BaseLayout from '../../layouts/BaseLayout.astro';
import AboutMe from '../../sections/AboutMe.svelte';
import LoadingHero from "../../components/LoadingHero.astro";
---

<BaseLayout title="About Me">
    <AboutMe client:only>
        <div slot="fallback">
            <LoadingHero/>
        </div>
    </AboutMe>
</BaseLayout>
